{
  "presets": [
    ["env", {
      "targets:": { "node": "current" } // change this to your node version
    }]
  ],
"plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
  ]]
}